AWS_REGION=us-west-2
DDB_EVENTS_TABLE=scheduler-prod-events
DDB_PARTICIPANTS_TABLE=scheduler-prod-participants
DDB_WEIGHTS_TABLE=scheduler-prod-weights
DDB_USERS_TABLE=scheduler-prod-users
DDB_USER_EVENTS_TABLE=scheduler-prod-user-events
JWT_SECRET=your-secret-here
ALLOWED_ORIGINS=http://localhost:3000
PORT=4000
